.page-accounts
  width: auto

  .button.add-account
    width: 100%
    margin-top: 11px

  .header
    border-bottom: 3px solid rgba(0,0,0,.1)
    padding: 6px 0

  .field.submit
    text-align: center

    .button
      margin: 0 auto

  .terms-list
    line-height: 30px
