<div class="page-accounts">
  <div class="ui grid">
    <div class="four wide column">
      <a v-on="click:onAddAccountClick" class="ui button primary add-account" id="add">Add Twitter Account</a>

      <div class="ui vertical pointing menu accounts">
        <a v-repeat="accounts" v-on="click:onAccountClick" class="item {{ id === accountId ? 'active teal' : '' }}">
          <img class="ui bordered rounded image" v-attr="src:info.profile_image_url">
          @{{info.screen_name}}
        </a>
      </div>
    </div>

    <div class="twelve wide column">
      wooo
    </div>
  </div>
</div>
