<div class="page-friends">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical menu">
        <a v-on="click:onMenuItemClick" data-mode="followback" class="item {{ mode === 'followback' ? 'active teal' : ''}}">
          Follow Back <div class="ui label {{ mode === 'followback' ? 'teal' : ''}}">0</div>
        </a>

        <a v-on="click:onMenuItemClick" data-mode="followers" class="item {{ mode === 'followers' ? 'active teal' : ''}}">
          Followers <div class="ui label {{ mode === 'followers' ? 'teal' : ''}}">0</div>
        </a>

        <a v-on="click:onMenuItemClick" data-mode="friends" class="item {{ mode === 'friends' ? 'active teal' : ''}}">
          Friends <div class="ui label {{ mode === 'friends' ? 'teal' : ''}}">0</div>
        </a>

        <a v-on="click:onMenuItemClick" data-mode="potentialfriends" class="item {{ mode === 'potentialfriends' ? 'active teal' : ''}}">
          Potential Friends <div class="ui label {{ mode === 'potentialfriends' ? 'teal' : ''}}">0</div>
        </a>
      </div>
    </div>

    <div class="twelve wide column">
      <div class="pagination-wrapper">
        <div class="ui pagination menu">
          <a class="item" v-on="click:onPrevPageClick">
            <i class="angle left icon"></i>
          </a>
          <div class="disabled item">
            <span v-if="!loading">{{currentPage}}/{{totalPages}}</span>
            <div v-if="loading" class="ui active mini inline loader"></div>
          </div>
          <a class="item" v-on="click:onNextPageClick">
            <i class="angle right icon"></i>
          </a>
        </div>
      </div>

      <div class="ui grid equal width">
        <div v-repeat="friends" class="column">
          <a href="https://twitter.com/{{info.screen_name}}" target="_blank">
            <img class="ui bordered rounded image" v-attr="src:info.profile_image_url" width="48" height="48" data-content="@{{info.screen_name}}">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
