@import './colors'

body
  background: backgroundColor

#content
  padding: 60px 0

.vertical.menu.accounts
  width: 100%

  .item
    position: relative
    padding-left: 44px

    img
      width: 24px !important
      height: 24px !important
      max-width: 24px
      position: absolute
      top: 8px
      left: 12px
